@import url("https://fonts.googleapis.com/css2?family=Judson&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
}

.content {
  min-height: calc(80vh - 170px);
}

/* Product component styling */
.product-card {
  background-color: white;
  border: 4px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  border: 4px solid #d1552e;
}

.product-title {
  height: 7em;
  margin: 10px 0 20px;
}

.product-thumbnail {
  margin: 4px;
  height: 200px;
  width: 100%;
}

.product-thumbnail img {
  object-fit: contain;
  max-height: 200px;
  width: 100%;
  margin-bottom: 10px;
}

.product-thumbnail img:hover {
  margin-left: 3px;
}

.product-info {
  height: 14em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.product-description {
  font-size: 15px;
  margin-bottom: 10px;
  height: 75px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
}

.product-card button {
  padding: 10px;
  background-color: #d1552e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Products "gallery" styling */
.products-gallery {
  background-color: #424046;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Number Input With Buttons */
.number-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.number-input input {
  border: none;
  background-color: #d1552e;
  color: #fff;
  height: 90%;
  width: 60px;
  text-align: center;
  font-weight: 500;
  font-size: 2em;
  border-radius: 5px;
  margin-right: 2px;
}

.number-input-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.number-input-buttons button {
  background-color: #fff;
  border: none;
  color: #d1552e;
  font-weight: 700;
  border-radius: 5px;
  height: 35%;
  width: 30px;
}

/* Webkit browsers like Safari and Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Registration form */
.register-form {
  box-shadow: #0000002c 8px 8px;
  border-radius: 20px;
  padding: 40px;
  max-width: 635px;
  height: 644px;
  background-color: #f0f0f0;
  margin: 10px;
}

.register-form h1 {
  font-size: 3em;
  font-weight: 500;
  padding: 0;
  margin-bottom: 0;
}

.register-form p {
  font-size: small;
  color: #8c8c8c;
}

.register-form button {
  background-color: #d1552e;
  width: 160px;
  height: 35px;
  color: white;
  border-radius: 10px;
  border: none;
  margin: 40px;
  cursor: pointer;
}

.register-double {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.register-form input,
select {
  box-shadow: #0000002c 0 2px;
  padding: 10px;
  border: #adadad solid 1px;
  margin: 10px 0;
  border-radius: 10px;
  height: 49px;
  width: 100%;
}

.register-double input,
select {
  width: 49.5%;
}

/* SignIn form */
.sign-in-form {
  box-shadow: #0000002c 8px 8px;
  border-radius: 20px;
  padding: 40px;
  width: 635px;
  height: 475px;
  background-color: #f0f0f0;
  margin: 10px;
}

.sign-in-form h1 {
  font-size: 3em;
  font-weight: 500;
  padding: 0;
  margin-bottom: 0;
}

.sign-in-form p {
  font-size: small;
  color: #8c8c8c;
}

.sign-in-inputs {
  margin: 35px 0 10px 0;
}

.sign-in-form input {
  box-shadow: #0000002c 0 2px;
  padding: 10px;
  border: #adadad solid 1px;
  margin: 0 0 10px 0;
  border-radius: 10px;
  height: 49px;
  width: 100%;
}

.sign-in-form button {
  background-color: #d1552e;
  width: 160px;
  height: 35px;
  color: white;
  border-radius: 10px;
  border: none;
  margin: 40px;
  cursor: pointer;
}

.sign-in-form .dont-have {
  color: black;
}

/* Webkit browsers like Safari and Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Registration form */
.register-form {
  box-shadow: #0000002c 8px 8px;
  border-radius: 20px;
  padding: 40px;
  max-width: 635px;
  height: 644px;
  background-color: #f0f0f0;
  margin: 10px;
}

.register-form h1 {
  font-size: 3em;
  font-weight: 500;
  padding: 0;
  margin-bottom: 0;
}

.register-form p {
  font-size: small;
  color: #8c8c8c;
}

.register-form button {
  background-color: #d1552e;
  width: 160px;
  height: 35px;
  color: white;
  border-radius: 10px;
  border: none;
  margin: 40px;
  cursor: pointer;
}

.register-double {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.register-form input,
select {
  box-shadow: #0000002c 0 2px;
  padding: 10px;
  border: #adadad solid 1px;
  margin: 10px 0;
  border-radius: 10px;
  height: 49px;
  width: 100%;
}

.register-double input,
select {
  width: 49.5%;
}

/* SignIn form */
.sign-in-form {
  box-shadow: #0000002c 8px 8px;
  border-radius: 20px;
  padding: 40px;
  width: 635px;
  height: 475px;
  background-color: #f0f0f0;
  margin: 10px;
}

.sign-in-form h1 {
  font-size: 3em;
  font-weight: 500;
  padding: 0;
  margin-bottom: 0;
}

.sign-in-form p {
  font-size: small;
  color: #8c8c8c;
}

.sign-in-inputs {
  margin: 35px 0 10px 0;
}

.sign-in-form input {
  box-shadow: #0000002c 0 2px;
  padding: 10px;
  border: #adadad solid 1px;
  margin: 0 0 10px 0;
  border-radius: 10px;
  height: 49px;
  width: 100%;
}

.sign-in-form button {
  background-color: #d1552e;
  width: 160px;
  height: 35px;
  color: white;
  border-radius: 10px;
  border: none;
  margin: 40px;
  cursor: pointer;
}

.sign-in-form .dont-have {
  color: black;
}
/* Homepage Styling */
/* Featured Banner */
.sale-banner-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sale-banner {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sale-text {
  font-family: "Judson", serif;
  font-size: 48px;
  font-weight: 200;
  margin-top: 10px;
}

.sale-text2 {
  font-family: "Judson", serif;
  font-size: 16px;
  font-weight: 200;
}

.sale-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
}

.shop-now-link {
  font-family: "Judson", serif;
  font-size: 24px;
  color: #5c5c5c;
}

/* Product Categories Grid */
.product-categories {
  background-color: rgba(51, 51, 51, 1);
  display: flex;
  justify-content: center;
}

.product-grid {
  max-width: 1000px;
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  gap: 100px;
  margin: 0 300px 0 300px;
  padding: 100px 0 100px 0;
}

.product-container {
  background-color: white;
  width: 320px;
  height: 297px;
  font-family: "Judson", serif;
  font-size: 24px;
  border-radius: 10px;
  padding-top: 20px;
}

.product-image {
  margin-top: 21px;
}

.see-more-link {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 21px;
  font-size: 14px;
}

/* Navigation Bar */
.nav-bar-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #333333;
}

.nav-bar {
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 45px;
  max-width: 1250px;
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.75);
  width: 250px;
  height: 30px;
  margin: 7px 0 0 40px;
  border-radius: 5px;
}

.search-icon {
  margin-top: 2px;
}

.search-input {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  height: 30px;
  width: 220px;
}

.search-input:focus {
  outline: none;
}

.web-links {
  display: flex;
  padding-top: 12px;
  margin-right: 100px;
}

.link {
  margin: 0 20px 0 20px;
  color: white;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.login-signup {
  margin-top: 5px;
  margin-right: 40px;
  background-color: #d9d9d9;
  height: 35px;
  border-radius: 10px;
}

.login-btn:hover {
  cursor: pointer;
}

.login-btn {
  background-color: transparent;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.signup-btn:hover {
  cursor: pointer;
}

.signup-btn {
  border: none;
  background-color: transparent;
  padding: 5px;
  height: 35px;
  border-radius: 10px;
}

/* Product Details */
.product-details {
  font-family: "Judson", serif;
}

.back-link {
  margin: 10px;
  text-align: left;
  font-size: 24px;
  color: #d1552e;
}

.product-title2 {
  font-size: 48px;
}

.product-image-container {
  background-color: #d9d9d9;
  padding: 20px;
  width: fit-content;
  margin: auto;
}

.product-detail-description {
  background-color: #d9d9d9;
  width: 1056px;
  height: auto;
  margin: 10px auto 10px auto;
  padding: 30px;
}

.purchase-container {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.size-quantity-wrapper {
  align-self: center;
  margin-right: 30px;
}

.size-container {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 300px;
  border: yellow 1px solid;
}

/* .dropdown-size {
  align-items: center;
  width: 250px;
  height: 180;
} */

.size {
  text-align: left;
  font-size: 20px;
}

.product-quantity {
  width: 50px;
}

.quantity-select {
  width: 120px;
  height: 50px;
}

.quantity-picker {
  align-self: center;
  margin-left: 10px;
  width: 220px;
  border-radius: 50;
  border: green 1px solid;
}

.product-details-price {
  background-color: #d1552e;
  padding: 10px;
  color: white;
  font-size: 40px;
  font-weight: 400;
  height: fit-content;
  align-self: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-text-stroke: 1px black;
  margin: 0 30px 0 20px;
}

.add-cart-btn-container {
  display: flex;
  align-items: center;
}

.add-cart-btn {
  margin-left: 50px;
  background-color: #d9d9d9;
  padding: 10px;
  border: 1px solid #919191;
  border-radius: 10px;
}

/* Contact Component */
.contact-container {
  font-family: "Judson", serif;
  margin: auto;
  margin-top: 75px;
  background-color: #d9d9d9;
  width: fit-content;
  padding: 30px;
}

.contact-info-container {
  background-color: #d1552e;
  color: white;
  margin: auto;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
}

.contact-content {
  margin-top: 10px;
  margin-bottom: 20px;
}

.contact-info {
  margin-top: 10px;
  margin-bottom: 10px;
}

.socials {
  margin-top: 20px;
}

/* Support Page */
.support-page-wrapper {
  display: flex;
  justify-content: center;
}
.support-page {
  font-family: "Judson", serif;
  margin: 30px 50px 30px 50px;
  width: fit-content;
  text-align: left;
}

.support-title {
  margin-bottom: 30px;
}

.support-content-container {
  background-color: #ccc;
  padding: 15px;
  border-radius: 10px;
}

.support-info {
  margin-bottom: 20px;
}

.support-faq {
  margin-top: 10px;
}

/* Header component styling */
.header {
  width: 100%;
  height: 170px;
  left: 0px;
  top: 0px;
  background-color: #d1552e;
  color: #fff;
  display: flex;

  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.header-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 24px 0 13px 0;
  padding-top: 16px;
}

.header h1 {
  font-family: judson;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 55px;
}

/* Footer styling */
.footer-wrapper {
  width: 100%;
  background-color: #424046;
  display: flex;
  justify-content: center;
}

.footer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 30px;
  height: 20vh;
  max-width: 1250px;
  width: 100%;
}

.footer-top {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.footer-bottom {
  width: 100%;
}
/* Footer Top styling */
#left,
#center,
#right {
  width: 33%;
  text-align: left;
}

#left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#right {
  display: flex;
  justify-content: right;
}

/* Subscribe email form */
.form {
  position: relative;
  display: inline-block;
}

.form input {
  border: none;
  outline: none;
  background-color: #f1f1f1;
  font-size: 16px;
  padding: 12px 16px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 16px;
}

.form button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #d1552e;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 12px 16px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.form button:hover {
  background-color: #3e8e41;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

/* Horizontal line footer bottom */
hr {
  border: none;
  height: 2px;
  background-color: #d1552e;
  width: auto;
  position: static;
  top: 50%;
  left: 5%;
  right: 5%;
  transform: translateY(-50%);
  padding-bottom: 3px;
}

/* CC Thumbnails for footer */
.thumbnails {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  position: static;
  height: 40px;
  min-width: 280px;
  max-width: 350px;
}

/* Featured Page */
.featured-page {
  font-family: "Judson", serif;
  margin: 30px 50px 30px 50px;
  width: fit-content;
  text-align: left;
}

/* Modal */
.modal {
  position: fixed;
  color: black;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
