@import url("https://fonts.googleapis.com/css2?family=Judson&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

/* Product component styling */
.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  border: 1px solid #6936f5;
}

.product-title {
  height: 7em;
  margin: 10px 0 20px;
}

.product-thumbnail {
  margin: 4px;
  height: 200px;
  width: 100%;
}

.product-thumbnail img {
  object-fit: contain;
  max-height: 200px;
  width: 100%;
  margin-bottom: 10px;
}

.product-thumbnail img:hover {
  width: 101%;
  height: 101%;
}

.product-info {
  height: 14em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.product-description {
  font-size: 15px;
  margin-bottom: 10px;
  height: 75px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
}

.product-card button {
  padding: 10px;
  background-color: #6936f5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Products "gallery" styling */
.products-gallery {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/* Homepage Styling */
/* Sale Banner */
.sale-text-wrapper {
  display: flex;
  justify-content: center;
}

.sale-text {
  font-family: "Judson", serif;
  font-size: 48px;
  margin-right: 40px;
  height: 100px;
  font-weight: 200;
}

.discount-amount {
  font-family: "Judson", serif;
  font-size: 96px;
  height: 100px;
  padding-top: 10px;
  font-weight: 100;
}

.sale-text-small {
  font-family: "Judson", serif;
  font-size: 24px;
  height: 100px;
  padding-top: 30px;
  margin-left: 10px;
}

.sale-text2 {
  font-family: "Judson", serif;
  font-size: 48px;
  margin-left: 40px;
  height: 100px;
  padding-top: 40px;
  font-weight: 200;
}

.sale-items {
  display: flex;
  justify-content: space-between;
  margin: 40px 350px 20px 350px;
}

.shop-now-link {
  font-family: "Judson", serif;
  font-size: 24px;
  color: #5c5c5c;
  margin-bottom: 20px;
}

/* Product Categories Grid */
.product-categories {
  background-color: rgba(51, 51, 51, 1);
}

.product-grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  gap: 100px;
  margin: 0 300px 0 300px;
  padding: 100px 0 100px 0;
}

.product-container {
  background-color: white;
  width: 320px;
  height: 297px;
  font-family: "Judson", serif;
  font-size: 24px;
  border-radius: 10px;
  padding-top: 20px;
}

.product-image {
  margin-top: 21px;
}

.see-more-link {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 21px;
  font-size: 14px;
}

/* Navigation Bar */
.nav-bar {
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 45px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.75);
  width: 250px;
  height: 30px;
  margin: 7px 0 0 40px;
  border-radius: 5px;
}

.search-icon {
  margin-top: 2px;
}

.search-input {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  height: 30px;
  width: 220px;
}

.search-input:focus {
  outline: none;
}

.web-links {
  display: flex;
  padding-top: 12px;
}

.link {
  margin: 0 20px 0 20px;
  color: white;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.login-signup {
  margin-top: 5px;
  margin-right: 40px;
  background-color: #d9d9d9;
  height: 35px;
  border-radius: 10px;
}

.login-btn:hover {
  cursor: pointer;
}

.login-btn {
  background-color: transparent;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.signup-btn:hover {
  cursor: pointer;
}

.signup-btn {
  border: none;
  background-color: transparent;
  padding: 5px;
  height: 35px;
  border-radius: 10px;
}

/* Product Details */
.product-details {
  font-family: "Judson", serif;
}

.back-link {
  margin: 10px;
  text-align: left;
  font-size: 24px;
  color: #d1552e;
}

.product-title2 {
  font-size: 48px;
}

.product-id {
  font-size: 36px;
}

.product-image-container {
  background-color: #d9d9d9;
  padding: 20px;
  width: fit-content;
  margin: auto;
}

.product-detail-description {
  background-color: #d9d9d9;
  width: 1056px;
  height: auto;
  margin: 10px auto 10px auto;
  padding: 30px;
}

.purchase-container {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.size-quantity-wrapper {
  align-self: center;
  margin-right: 30px;
}

.size-container {
  display: flex;
}

.dropdown-size {
  align-self: center;
  margin-left: 10px;
}

.size {
  text-align: left;
  font-size: 20px;
}

.quantity-picker {
  align-self: center;
  margin-left: 10px;
}

.product-details-price {
  background-color: #d1552e;
  padding: 10px;
  color: white;
  font-size: 40px;
  font-weight: 400;
  height: fit-content;
  align-self: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-text-stroke: 1px black;
  margin: 0 30px 0 20px;
}

.add-cart-btn-container {
  display: flex;
  align-items: center;
}

.add-cart-btn {
  margin-left: 50px;
  background-color: #d9d9d9;
  padding: 10px;
  border: 1px solid #919191;
  border-radius: 10px;
}
