* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
}

/* Product component styling */
.product-card {
  background-color: white;
  border: 4px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  border: 4px solid #d1552e;
}

.product-title {
  height: 7em;
  margin: 10px 0 20px;
}

.product-thumbnail {
  margin: 4px;
  height: 200px;
  width: 100%;
}

.product-thumbnail img {
  object-fit: contain;
  max-height: 200px;
  width: 100%;
  margin-bottom: 10px;
}

.product-thumbnail img:hover {
  margin-left: 3px;
}

.product-info {
  height: 14em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.product-description {
  font-size: 15px;
  margin-bottom: 10px;
  height: 75px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
}

.product-card button {
  padding: 10px;
  background-color: #d1552e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Products "gallery" styling */
.products-gallery {
  background-color: #424046;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Number Input With Buttons */
.number-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.number-input input {
  border: none;
  background-color: #d1552e;
  color: #fff;
  height: 90%;
  width: 60px;
  text-align: center;
  font-weight: 500;
  font-size: 2em;
  border-radius: 5px;
  margin-right: 2px;
}

.number-input-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.number-input-buttons button {
  background-color: #fff;
  border: none;
  color: #d1552e;
  font-weight: 700;
  border-radius: 5px;
  height: 35%;
  width: 30px;
}

/* Webkit browsers like Safari and Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Registration form */
.register-form {
  box-shadow: #0000002c 8px 8px;
  border-radius: 20px;
  padding: 40px;
  max-width: 635px;
  height: 644px;
  background-color: #f0f0f0;
  margin: 10px;
}

.register-form h1 {
  font-size: 3em;
  font-weight: 500;
  padding: 0;
  margin-bottom: 0;
}

.register-form p {
  font-size: small;
  color: #8c8c8c;
}

.register-form button {
  background-color: #d1552e;
  width: 160px;
  height: 35px;
  color: white;
  border-radius: 10px;
  border: none;
  margin: 40px;
  cursor: pointer;
}

.register-double {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.register-form input,
select {
  box-shadow: #0000002c 0 2px;
  padding: 10px;
  border: #adadad solid 1px;
  margin: 10px 0;
  border-radius: 10px;
  height: 49px;
  width: 100%;
}

.register-double input,
select {
  width: 49.5%;
}

/* SignIn form */
.sign-in-form {
  box-shadow: #0000002c 8px 8px;
  border-radius: 20px;
  padding: 40px;
  width: 635px;
  height: 475px;
  background-color: #f0f0f0;
  margin: 10px;
}

.sign-in-form h1 {
  font-size: 3em;
  font-weight: 500;
  padding: 0;
  margin-bottom: 0;
}

.sign-in-form p {
  font-size: small;
  color: #8c8c8c;
}

.sign-in-inputs {
  margin: 35px 0 10px 0;
}

.sign-in-form input {
  box-shadow: #0000002c 0 2px;
  padding: 10px;
  border: #adadad solid 1px;
  margin: 0 0 10px 0;
  border-radius: 10px;
  height: 49px;
  width: 100%;
}

.sign-in-form button {
  background-color: #d1552e;
  width: 160px;
  height: 35px;
  color: white;
  border-radius: 10px;
  border: none;
  margin: 40px;
  cursor: pointer;
}

.sign-in-form .dont-have {
  color: black;
}
